:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #bfbdbd;
    --botao-azul: #159426;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-mas-eu-nao-mudei-a-cor: #3300FF;
}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
}

.container-botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container-botao-dois{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 8px;
    padding: 1em;
    display: block;
    color: #e8e6e6;
}

.container-aviso{
    font-size: 12px;    
    color: var(--cinza-secundario);
}

.container-titulo{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 50px;
}

.container-imagem{
    margin: 0em 0 3em 0em;
    width: 70%;

}

.container-caixa{
    margin: 0 6em;
}

.imagem-secundaria{
    width: 80%;
    max-width: 100%;
    max-height: 100%;
}

.container-secundario{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin:0 10em;
}

.descricao-titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.descricao-texto{
    text-align: justify;
    font-size: 20px;
    color: var(--cinza-secundario);
    margin-top: 10px;
}

.container-botao-tres{
    background-color: var(--botao-azul-mas-eu-nao-mudei-a-cor);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em;
    text-align: center;
    width: 300px;
    margin-left: 150px;
    display: block;
    margin-top: 20px;
}

.container-descriçao{
    padding: 2em;
}

.imagem-terciaria{
    margin-left:px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.container-terciario{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin:0 10em;
    margin-top: 150px;
}

.descricao-texto-comboalura{
    text-align: center;
    font-size: 25px;
    color: var(--cinza-secundario);
    margin-top: 10px;
    max-width: 600px;
}